.right-sidebar {
  /* background-color: azure; */
  width: auto;
  height: auto;
  margin: 0 15px 0 0;
  /* padding: 15px; */
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
