.task-card-header {
  /* font-size: 14px; */
  color: antiquewhite;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.task-card-header h5 {
  margin-right: auto;
}

.task-card-header p {
  margin: 0;
}
