.new-task {
  height: 180px;
  background-color: darkslategrey;
  width: 100%;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.add-task {
  height: 180px;
  /* align-self: flex-start; */
  background-color: #154c79;
  border: 7px dashed rgb(14, 13, 13);
  border-radius: 10px;
  font-weight: 600;
  color: antiquewhite;
}

.add-task:hover {
  background-color: rgba(240, 248, 255, 0.137);
  cursor: pointer;
}
