.prof-header {
  grid-column: 1 / -1;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.prof-header img {
  border-radius: 15px;
}

.prof-bio {
  grid-column: 1 / -1;
  /* background-color: antiquewhite; */
  width: 80%;
  /* display: flex;
    justify-content: space-evenly; */
}

.prof-social {
  list-style: none;
  grid-column: 1 / 2;
  /* background-color: antiquewhite; */
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
