.navigation {
  background-color: #17171700;
  width: auto;
  border-radius: 0 15px 0 0;
  margin: 15px 15px 15px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2 / -1;
}

.navigation img {
  border: 5px solid #171717;
  background-color: #154c794d;
  border-radius: 15px;
  margin-left: 20px;
}

.navigation h4 {
  margin-left: auto;
}
